<div class="chat-header">
  <div class="right-button">
    <div class="header-button">
      <%= link_to "新規登録", new_company_path %>
      <%= link_to "請求書作成", '#', method: :delete %>
    </div>
  </div>
</div>