<div class="chat-header">
  <div class="header-title">
  </div>
  <div class="right-button">
    <div class="header-button">
      <%= link_to "請求書を作成する", '#', method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'company_info' %>
</div>